<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="maxHttpRequestsPerSource" value="4" />
	</config>
	<packageSources>
		<!-- <add key="local" value="/root/.nuget/packages" /> -->
		<add key="gitlab" value="https://gitlab.com/api/v4/groups/10343448/-/packages/nuget/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="gitlab">
			<package pattern="DevExpress.*" />
			<package pattern="AppifySheets.*" />
		</packageSource>
		<packageSource key="local">
			<package pattern="AppifySheets.*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<gitlab>
			<add key="Username" value="read_package_registry_token" />
			<add key="ClearTextPassword" value="qs-r3_iqzwZyCosPDn7d" />
		</gitlab>
	</packageSourceCredentials>
</configuration>